/* VARIABLES */
:root {
    --Color-principal: #1c1c1c;
    --Color-secundario: #494979;
    --Color-secundario-flojo: #6f6dbe;
    --Color-letras: rgb(255, 255, 255);
    --fuente-titulo: 'Bebas Neue', sans-serif;
    --fuente-subtitulo: 'Oswald', sans-serif;
    --fuente-info: 'Montserrat', sans-serif;

    /* Tamaños base (por defecto móvil) */
    --font-titulo: 2rem;
    --font-subtitulo: 1.5rem;
    --font-normal: 1rem;
}

/* TITULOS */
.titulo {
    font-family: var(--fuente-titulo);
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
}

.subtitulo {
    font-family: var(--fuente-subtitulo);
    font-size: 1.5rem;
}

.info {
    font-family: var(--fuente-info);
    font-size: 1rem;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

/* BASE */
body {
    background-color: var(--Color-principal);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Color-letras);
    font-family: var(--fuente-info);
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Color-secundario);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

header .left{
    display: flex;
}

header .izquierda {
    display: flex;
    align-items: center;
}

header .izquierda img {
    width: 5rem;
    height: auto;
}

header h1 {
    margin: 10px 0;
    font-family: var(--fuente-titulo);
    font-size: 2.5rem;
    text-align: center;
    color: var(--Color-letras);
}

header .rigth {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 0.1rem;
    flex-direction: row;
    align-items: center;
}

header a {
    text-decoration: none;
    color: var(--Color-principal);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: color 0.3s ease;
    color: var(--Color-letras);

}

header a:hover {
    color: var(--Color-principal);
}

.idioma-selector select {
    background-color: var(--Color-principal);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    font-family: var(--fuente-subtitulo);
    cursor: pointer;
  }
  
  .idioma-selector select:hover {
    background-color: var(--Color-principal);
  }  



/* BOTÓN DEFECTO */
.botonDefecto {
    display: inline-block;
    background-color: var(--Color-secundario-flojo);
    color: white !important;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.botonDefecto:hover {
    background-color: var(--Color-secundario);
}

.card-title {
    font-family: var(--fuente-subtitulo);
    font-size: 1.5rem;
}

.card-text {
    font-family: var(--fuente-info);
    font-size: 1rem;
}

.card-evento {
    background-color: #212529; /* equivalente a bg-dark */
    color: white;
    height: 100%;
    border: none;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: var(--Color-secundario);
    color: var(--Color-letras);
    text-align: center;
    padding: 20px 0;
    font-size: 0.8rem;
    margin-top: 20px;
}

/* pantallas tablet */
/* Tablet */
@media (min-width: 426px) and (max-width: 768px) {
    :root {
        --font-titulo: 3rem;
        --font-subtitulo: 2rem;
        --font-normal: 1.2rem;
    }

/* TITULOS */
    .titulo{
        font-size: var(--font-titulo);
    }
 
    .subtitulo {
        font-size: var(--font-subtitulo);
    }
   
    .info {
        font-size: var(--font-normal);
    }
    
    .left{
        display: flex;
    }
}

/* Escritorio */
@media (min-width: 769px) {
    :root {
        --font-titulo: 4rem;
        --font-subtitulo: 3.5rem;
        --font-normal: 1.8rem;
    }

    /* TITULOS */
    .titulo{
        font-size: var(--font-titulo);
    }
 
    .subtitulo {
        font-size: var(--font-subtitulo);
    }
   
    .info {
        font-size: var(--font-normal);
    }
    
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }
    header .left {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .boton {
        height: 100px; /* Ajusta para que siempre se vea bien el nombre */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 1.2rem;
    }
}