<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="logoBilleteArnau.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beat Pass</title>
    <link rel="stylesheet" href="StyleR.css">
</head>
<body>
    <header>
        <h1>Beat Pass</h1>
        <!-- <select name="Eventos" id="GenerosMusicales">
            <option value="Conciertos">Conciertos</option>
            <option value="Musicales">Musicales</option>
            <option value="Shows">Shows</option>
            <option value="Otros">Otros</option>
        </select> -->
    </header>
    
    <article>
        <h1>Bienvenido a Beat Pass</h1>
        <form action="Login">
            <h3>Registro</h3>
            
            <div class="input-group">
                <input type="text" id="nameN" name="nameN" placeholder="Nombre de usuario"><br><br>
            </div>
            <div class="input-group">
                <input type="email" id="gmail" name="gmail" placeholder="Correo Electrónico"><br><br>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Contraseña"><br><br>
            </div>
            <div class="input-group">
                <input type="password" id="Cpassword" name="Cpassword" placeholder="Confirmar contraseña"><br><br>
            </div>
            <div class="buttons">
                <a href="" class="botonDefecto">Registrarme</a>

                <a href="../InicioSesion/index1.html" class="botonDefecto">Iniciar sesion</a>
            </div>
        </form>
    </article>
</body>
</html>
