<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="logoBilleteArnau.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beat Pass</title>
    <link rel="stylesheet" href="StyleR.css">

    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400;600&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="titulo">Beat Pass</h1>
    </header>
    
    <article>
        <h1 class="titulo">Bienvenido a Beat Pass</h1>
        <form action="Login">
            <h3 class="subtitulo">Registro</h3>
            
            <div class="input-group">
                <input type="text" id="nameN" name="nameN" placeholder="Nombre de usuario"><br><br>
            </div>
            <div class="input-group">
                <input type="email" id="gmail" name="gmail" placeholder="Correo Electrónico"><br><br>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Contraseña"><br><br>
            </div>
            <div class="input-group">
                <input type="password" id="Cpassword" name="Cpassword" placeholder="Confirmar contraseña"><br><br>
            </div>
            <div class="buttons">
                
                <button type="submit" name="Singup" id="Singup" class="button">Registrarse</button>

                <a href="../InicioSesion/index1.html">
                    <button type="submit" name="Login" id="Login" class="button">Iniciar Sesión</button>
                </a>
            </div>
        </form>
    </article>
</body>
</html>
