/* Variables personalizadas */
:root{
    --Color-principal: #1c1c1c;
    --Color-secundario: #38385f;
    --Color-secundario-flojo: #6f6dbe;
    --Color-letras: rgb(255, 255, 255);
    --Color-bg-l:#1e1e2f;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--Color-principal);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
        display: flex; /* Asegura que flexbox esté activo */
        justify-content: space-between; /* Distribuye los elementos */
        align-items: center;
        width: 100%;
        background-color: var(--Color-secundario);
        height: 60px; 
        padding: 0 20px;
        position: fixed; 
        top: 0; 
        left: 0;
        right: 0;
        z-index: 1000; 
}

header h1 {
    color: var(--Color-principal);
    margin: 0;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

article {
    background: var(--Color-secundario-flojo); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin-top: 80px; /* Espacio para evitar que el header lo cubra */
}

.pass, .gmail, .nameN, .Cpassword {
    width: 100%;
}

#password, #nameN, #gmail, #Cpassword {
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    border: 1px solid #0A0907; 
    background-color: #FBFBFB; 
    color: #0A0907; 
}

.buttons {
    width: 100%;
}

.buttonN {
    background-color: var(--Color-secundario); 
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: var(--Color-letras); 
    font-weight: bold;
}

h1 {
    color: #0A0907; 
}

.input-group label {
    display: block;
    font-weight: bold;
    color: var(--Color-letras);
}

.input-group input {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: var(--Color-bg-l);
    color: var(--Color-letras);
}